.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    color: lightgray;
}

.navbar .right {
    display: flex;
}

.navbar .right a {
    margin-left: 20px;
}

/* --- */

.user-portal {
    display: flex;
    flex-direction: column;
}

.user-portal .user-info {
    background-color: whitesmoke;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.user-portal .user-info h2 {
    margin: 0;
}

.user-portal .user-info h3 {
    margin: 0;
    font-size: 14px;
}

.user-portal .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.user-portal .actions .action {
    width: 45%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.user-portal .actions .action:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.user-portal .actions .action h3 {
    margin: 0;
}

.user-portal .actions .action p {
    margin: 10px auto 10px auto;
    font-size: 14px;
    color: dimgray;
}

/* --- */

.data-entry table {
    border-collapse: collapse;
    width: 100%;
}

.data-entry th, td {
    text-align: left;
    padding: 8px;
}

.data-entry tr:nth-child(even){background-color: whitesmoke}
.data-entry th {
    background-color: #333;
    color: white;
}

.data-entry h2, p {
    width: 500px;
    margin: auto auto 10px auto;
    font-weight: bold;
}

.data-entry form {
    width: 500px;
    margin: auto auto 10px auto;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
}

.data-entry form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 2;
}

.data-entry form input,
.data-entry form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.data-entry form input:disabled {
    background-color: lightgray;
}

.data-entry form input[type="radio"],
.data-entry form input[type="number"] {
    width: auto;
}

.data-entry form input[type="submit"] {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.data-entry form input[type="submit"]:hover {
    background-color: #222;
}

.data-entry .required {
    color: red;
}

/* --- */

.tabular .column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.tabular .row:after {
    content: "";
    display: table;
    clear: both;
}

.tabular .middle {
    align-content: center;
    align-items: center;
    text-align: center;
}

.tabular p {
    width: auto;
    margin: auto;
    font-weight: normal;
}

@media print {
    #printBtn {
        display: none;
    }
}

/* -- */

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* -- */

.panel h2 {
    width: 500px;
    margin: auto auto 10px auto;
    font-weight: bold;
}

.panel table {
  border-collapse: collapse;
  width: 100%;
}

.panel th, td {
  text-align: left;
  padding: 8px;
}

.panel th {
  background-color: white;
  color: black;
}

.panel tr:nth-child(even) {
  background-color: #f2f2f2;
}

.panel button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.panel button:hover {
  background-color: #3e8e41;
}
