{% extends 'layout.html' %}

{% block content %}
<div class="tabular">
    <div class="row">
        <div class="column" style="text-align: right; width: 50%">
            <p>
                Count:<br>
                Total:<br>
                <br>
                {% for purpose in purposes %}
                {{ purpose }}:<br>
                {% endfor %}
            </p>
        </div>
        <div class="column" style="text-align: left; width: 50%">
            <p>
                {{ data.get('count', 0) }}<br>
                {{ data.get('total', 0) }}<br>
                <br>
                {% for purpose in purposes %}
                {{ data['purpose'].get(purpose, 0) }}<br>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
